## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/run

## minecraft
/minecraft
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml